<!DOCTYPE HTML>
<html>
	<head>
		<link rel="stylesheet" href="style.css" type="text/css">
		<title>blah blah blah</title>
	</head>
	
	<body>
		<div class="header">
				<h1>Lalala</h1>
		</div>
		
		<div id="wrapper">
		<div id="columns">
			<div class="pin">
				<img src="http://vignette1.wikia.nocookie.net/nekoatsume/images/a/a2/Album_Tubbs.png/revision/latest?cb=20151111142920" />
			
			</div>
		
			<div class="pin">
				<img src="http://cssdeck.com/uploads/media/items/1/1swi3Qy.png" />
				
			</div>
		
			<div class="pin">
				<img src="http://cssdeck.com/uploads/media/items/6/6f3nXse.png" />
				
			</div>
		
			<div class="pin">
				<img src="http://ih1.redbubble.net/image.172394537.7842/flat,1000x1000,075,f.u5.jpg" />
			
			</div>
		
			<div class="pin">
				<img src="http://cssdeck.com/uploads/media/items/1/1swi3Qy.png" />
				
			</div>
		
			<div class="pin">
				<img src="http://cssdeck.com/uploads/media/items/6/6f3nXse.png" />
				
			</div>	
			
			<div class="pin">
				<img src="http://cssdeck.com/uploads/media/items/2/2v3VhAp.png" />
				
			</div>
		
			<div class="pin">
				<img src="http://cssdeck.com/uploads/media/items/1/1swi3Qy.png" />
		
			</div>
		
			<div class="pin">
				<img src="http://cssdeck.com/uploads/media/items/8/8kEc1hS.png" />
				
			</div>
		
		</div>
	</div>

	</body>

	<footer>
		By: Jessica Wu
	</footer>

</html>