*{
	box-sizing: border-box;
}

body{
	font-family:Century Gothic, sans-serif;
	margin: 0;
	padding: 0;

}

h1, h2{
	color:#33c9eb;
}

.header{
	background-color: #0f3c46;
	width:100%;
	margin-bottom: 10px;
	position:absolute;
	top:0;
	color: #ffffff;
}

footer{
	position:fixed;
	color:##051417;
	left:0;
	bottom:0;
	width:100%;
	background-color: #33c9eb;
}

/*Modal Window Components*/
.modal{
	display:none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #33c9eb;
	overflow: auto;
	background-color: rgba(5,20,23,0.4); /* Black w/ opacity */
}

.modal-content{
	background-color: #ffffff;
	margin: 2% auto;
	padding: 20px;
	border: 5px solid #33c9eb;
	width: 75%;
}

.clearfix{
	overflow: auto;
}

.close{
	color: #33c9eb;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus{
	color: #238ca4;
	text-decoration: none;
	cursor: pointer;
} 

.modal-img{
	float:left;
	width: 50%;
}

#modal-text{
	display:block;
	vertical-align: middle;
}


/*PINTEREST STYLE*/
#wrapper {
	margin-top: 10%;
}

#columns {
/*	-webkit-column-count: 4;
	-webkit-column-gap: 10px;
	-webkit-column-fill: auto;
	-moz-column-count: 4;
	-moz-column-gap: 10px;
	-moz-column-fill: auto*/;
	column-count: 4;
	column-gap: 15px;
	column-fill: auto;
}

.pin {
/*	display: inline-block;
	background: #FEFEFE;
	border: 2px solid #FAFAFA;
	box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
	margin: 0 2px 15px;
	-webkit-column-break-inside: avoid;
	-moz-column-break-inside: avoid;
	column-break-inside: avoid;*/
	
	padding-bottom: 5px;
	/*background: -webkit-linear-gradient(45deg, #222, #F9F9F9);*/
	opacity: 1;
	
	
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;
}

.pin img {
	width: 100%;
	margin-bottom: 5px;
	border-style: solid;
	border-radius: 10px;
	border-color: #eaf9fd;
}

/*.pin p {
	font: 12px/18px Arial, sans-serif;
	color: #333;
	margin: 0;
}*/

@media (min-width: 960px) {
	#columns {
		-webkit-column-count: 2;
		-moz-column-count: 2;
		column-count: 2;
	}
}

@media (min-width: 1100px) {
	#columns {
		-webkit-column-count: 4;
		-moz-column-count: 4;
		column-count: 4;
	}
}

/*#columns:hover .pin:not(:hover) {
	opacity: 0.4;
}*/

.pin img:hover{
	-webkit-box-shadow: 0px 0px 30px 0px rgba(51, 201,	235, 0.7);
	-moz-box-shadow:    0px 0px 30px 0px rgba(51, 201,	235, 0.7);
	box-shadow:         0px 0px 30px 0px rgba(51, 201,	235, 0.7);
	border-color: rgba(51, 201,	235, 0.7);
	opacity: 0.8;
}


/* LANDING PAGE */
.landing{
	 background: url(http://tinyurl.com/h2539js) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#bg-img{
	background-position: center;
	background-attachment: fixed;
/*	top: 50%;
	left: 50%;
	margin-top: -75px;

margin-left: -150px;
}*/